// Sass variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// *= require easy-autocomplete

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

.status_tag {
  &.new_one {
    background: #444;
  }
  &.contacted {
    background: blue;
  }
  &.requested {
    background: blue;
  }
  &.active {
    background: green;
  }
  &.approved {
    background: yellow;
  }
  &.paid {
    background: green;
  }
  &.inactive {
    background: red;
  }
  &.rejected {
    background: red;
  }
}

.easy-autocomplete {
  display: flow-root;
}
